
@media (min-width: 990px) {
  body {
    font-size: 16px;
  }
}

header nav, footer {
display: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
  font-weight: 600;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 20px;
}
h2 {
  margin-top: 20px;
  font-size: 32px;
}
h3 {
  margin-top: 24px;
  font-size: 24px;
}
h4, h5, h6 {
  margin-top: 16px;
  font-size: 16px;
}
