 ul {
                list-style-type: Square;
		list-style-position: outside;
 		padding: 10px;
		margin: 0px;
            }
            .ACM {
                background: url("../img/ACMsmall.png") no-repeat 0px 7px transparent;
                list-style-type: none;
                padding-top:10px;
                padding-bottom:10px;
                padding-left: 40px;
                padding-right: 0px;
                vertical-align: middle;
            }
            .IEEE {
		background: url("../img/IEEEsmall.png") no-repeat 0px 7px transparent;
		list-style-type: none;
               	padding-top:10px;
                padding-bottom:10px;
                padding-left: 40px;
                padding-right: 0px;
		vertical-align: middle;		
            }
	.BCS {
	      background: url("../img/BCSsmall.png") no-repeat 0px 7px transparent;
                list-style-type: none;
                padding-top:10px;
                padding-bottom:10px;
                padding-left: 40px;
                padding-right: 0px;
                vertical-align: middle;
            }

